/* Basic reset for Navbar */
.navbar {
  margin: 0;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #2c3e50;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Logo styling */
.navbar-logo {
  max-width: 50px;
  margin-right: 0.5rem;
  border: 2px solid #313131;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.navbar-brand:hover .navbar-logo {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.navbar-brand {
  color: #ecf0f1 !important;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.navbar-brand:hover {
  color: #bdc3c7 !important;
}

.navbar-brand:hover .navbar-brand-text span {
  color: #f39c12;
  transition: color 0.4s ease;
}

.navbar-brand-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-brand-text > span {
  text-align: center;
  margin: 0;
  transition:
    transform 0.3s ease,
    text-shadow 0.3s ease;
}

.navbar-brand-text > span:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Link and Button styles */
.nav-link {
  color: #ecf0f1 !important;
  transition: color 0.3s ease;
  font-weight: 500;
  text-decoration: none !important;
  padding: 0.5rem 1.5rem !important;
  font-size: 1.2rem;
}

.logout-button {
  background-color: #208a4cd3;
  border: none;
  border-radius: 15px;
  color: #ecf0f1;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease;
  padding: 0.5rem 1.5rem !important;
  font-size: 1.2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logout-button:hover {
  background-color: #2ecc71;
  color: #2c3e50;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Dropdown Styling */
.dropdown-menu {
  background-color: #34495e;
  border: none;
  border-radius: 4px; /* Slight curve for a modern look */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  top: 100%;
  position: absolute;
  overflow: hidden;
}

.navbar-flex-wrapper {
  display: flex;
  align-items: center;
}

#basic-nav-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  width: auto; /* adjusted for size */
  background: linear-gradient(145deg, #2a3d4f, #2e4058); /* subtle gradient for 3D effect */
  border: none;
  border-radius: 4px;
  box-shadow:
    3px 3px 6px #1c2733,
    -3px -3px 6px #3c4f67; /* subtle shadow for 3D effect */
  overflow: hidden;
}

#basic-nav-dropdown::after {
  vertical-align: middle;
}

.dropdown-item {
  padding: 0;
  background-color: transparent !important;
}

.dropdown-item h3 {
  font-size: 1rem;
  color: #ecf0f1;
  margin: 0;
  padding: 0.5rem 1rem; /* Adjusted for size */
  display: block;
  text-align: left;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  border-radius: 0;
}

.dropdown-item:hover h3 {
  background-color: #2c3e50;
  color: #bdc3c7;
}

#basic-nav-dropdown:hover {
  background-color: #34495e;
  border-radius: 4px;
  box-shadow:
    2px 2px 6px #1c2733,
    -2px -2px 6px #3c4f67;
}

#basic-nav-dropdown:hover > .dropdown-toggle {
  color: #bdc3c7 !important;
}

#basic-nav-dropdown .dropdown-toggle::after {
  display: none;
}

/* Mobile styles */
@media (max-width: 767.98px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .navbar-brand {
    align-items: center;
  }

  .nav {
    display: block;
    width: 100%;
    text-align: center;
  }

  .nav-link,
  .logout-button {
    padding: 0.5rem 0 !important;
    display: block;
    width: 100%;
    text-align: center;
  }
}
