.login-container {
  max-width: 400px;
  margin: 5% auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 600;
}

/* Keyframes for the spinning effect */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.logo-img {
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  top: 15px;
  height: 80px;
  border-radius: 50%;
  box-shadow:
    0px 3px 10px rgba(0, 0, 0, 0.2),
    0px 10px 20px rgba(0, 0, 0, 0.1);
  filter: grayscale(20%) contrast(110%) brightness(105%);
  animation: spin 30s infinite linear;
}

.login-form .input-group {
  margin-bottom: 5px;
}

.login-form label {
  display: block;
  margin-bottom: 7px;
  font-weight: 500;
}

.login-form input {
  width: 80%;
  padding: 10px 15px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}

.login-form input:focus {
  border-color: #0073e6;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 115, 230, 0.5);
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.login-btn {
  padding: 10px 20px;
  background-color: #0073e6;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #005bb5;
}

/* New styles for switch-text */
.switch-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-text {
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  color: #0073e6;
}

.switch-text:hover {
  opacity: 0.8;
}
