.footer {
    background-color: var(--color-main);
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0.2rem;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

.footer-links p{
    font-size: 14px;
    line-height: 15px;
    margin-left: 3rem;
    color: white;
    font-weight: 600;    
}

hr{
    color: white !important;
    width: 100%;
}

.footer-copyright {
    font-size: 11px;
    line-height: 15px;
    color: white;
    font-weight: 600;
}