.rbc-container {
  margin-top: 4.5rem;
  padding: 3rem;
  background: linear-gradient(135deg, #f0e4d7, #e8d5c1);
  border-radius: 15px;
  box-shadow: 0 10px 20px var(--color-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-btn {
  align-self: flex-start;
  background-color: var(--color-main);
  color: var(--color-white);
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 2rem;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-btn:hover {
  background-color: #005bb5;
  transform: translateY(-2px);
}

.calendar-title {
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.rbc-calendar {
  background-color: var(--color-secondary-light);
  border-radius: 15px;
  box-shadow: 0 4px 15px var(--color-shadow);
  overflow: hidden;
  width: 100%;
}

.rbc-toolbar {
  background-color: var(--color-secondary-light);
  color: #333;
  padding: 1rem;
}

.rbc-today {
  background-color: rgba(0, 115, 230, 0.2);
}

/* Add this CSS for the form */
.event-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 999;
}

.event-form h3 {
  margin: 0 0 10px;
}

.event-form input {
  display: block;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.form-buttons button {
  padding: 5px 10px;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-buttons button:nth-child(2) {
  background-color: #e74c3c;
}

.form-buttons button:hover {
  background-color: #005bb5;
  transform: translateY(-2px);
}
