.rbc-container {
  padding: 3rem;
  background: linear-gradient(135deg, #cadff7, #b9f7e5);
  border-radius: 15px;
  box-shadow: 0 10px 20px var(--color-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-btn {
  align-self: flex-start;
  background-color: var(--color-main);
  color: var(--color-white);
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 2rem;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  box-shadow:
    0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-btn:hover {
  background-color: #005bb5;
  transform: translateY(-2px);
}

.vac-btn {
  align-self: flex-start;
  background-color: var(--color-main);
  color: var(--color-white);
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 2rem;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  box-shadow:
    0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  gap: 10px;
}

.vac-btn:hover {
  background-color: #005bb5;
  transform: translateY(-2px);
}

.button-container {
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.calendar-title {
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

/* Updated style for the calendar and form */
.calendar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.calendar-wrapper {
  flex: 2;
  margin-right: 2rem; /* Adjust the margin as needed */
}

.rbc-calendar {
  background-color: var(--color-secondary-light);
  border-radius: 15px;
  box-shadow: 0 4px 15px var(--color-shadow);
  overflow: hidden;
  width: 100%;
  min-width: 300px;
  max-width: 700px;
  margin: 0 auto;
}

.rbc-toolbar {
  background-color: var(--color-secondary-light);
  color: #333;
  padding: 1rem;
}

.rbc-today {
  background-color: rgba(0, 115, 230, 0.2);
}

.form-container {
  flex: 1;
  max-width: 400px; /* Adjust the max-width as needed */
}

.event-form {
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.event-form h3 {
  margin: 0 0 10px;
}

.event-form label {
  display: block;
  margin-top: 10px;
}

.event-form input,
.event-form select {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.form-buttons button {
  padding: 5px 10px;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-buttons button:nth-child(2) {
  background-color: #e74c3c;
}

.form-buttons button:hover {
  background-color: #005bb5;
  transform: translateY(-2px);
}

.selected-info {
  margin-top: 2rem;
  text-align: center;
}

.selected-info h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.selected-info div {
  margin-top: 10px;
}
